# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# compiled output
/dist
/tmp
/out-tsc

# cache and logs
/.sass-cache
/coverage
/nyc_output
/.cache
/*.log

# IDE-specific files
/.idea
/.vscode
/.project
/.classpath
/.c9/
/.history
/.metadata
/.settings/
/.launch
/*.sublime-workspace
/*.sublime-project
/.sublime/
/.tmproj
/.nbproject/
/.vagrant/
/.webide/
/.vs/
/.yarn-integrity
yarn-error.log

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/npm-debug.log
/testem.log
/typings

# Angular specific files
*.js
*.js.map
*.d.ts
*.metadata.json
*.ngfactory.ts
*.ngstyle.ts
